<div class="bg">
  <div class="container footer">
    <div class="footer_one">
      <div class="info">
        <ul class="info_ul">
          <li>首頁</li>
          <li>系列鏡框</li>
          <li>門市據點</li>
          <li>常見問題</li>
        </ul>
        <div class="info_img">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic-social-fb.png?raw=true"
            alt="fb">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_ig.png?raw=true"
            alt="ig">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_line.png?raw=true"
            alt="line">
        </div>
      </div>
      <div class="phone ">
        <span class="material-symbols-outlined">
          call
        </span>
        <span>0800-000-000</span>
      </div>
      <div class="mail">
        <i class="fa-regular fa-envelope fa-2xl"></i>
        <span>glasses@business.com</span>
      </div>
    </div>
    <div class="footer_two">
      <p>Copyright © 2020 Glasses.All rights reserved.</p>
      <div class="footer_three">
        <p>隱私權政策</p>
        <p>服務條款</p>
      </div>
    </div>
  </div>
</div>