.footer_one {
  border-bottom: 1px solid white;
}
.fa-2xl{
  color: white;
}
.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 48px;
}
.info_ul {
  display: flex;
  justify-content: space-between;
  column-gap: 48px;
}
.info_ul > li {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.info_img > img {
  max-width: 48px;
  height: 48px;
}
.info_img {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 32px;
}

.phone > span,
.mail > span {
  margin-left: 22px;
  font-size: 36px;
  line-height: 54px;
  color: #ffffff;
  font-family: "Noto Sans TC";
  font-weight: 400;
}
.phone,
.mail {
  display: flex;
  align-items: center;
}

.phone {
  margin-bottom: 8px;
}
.mail {
  padding-bottom: 32px;
}
.footer_two {
  display: flex;
  justify-content: space-between;
  padding: 32px 0px;
}

.footer_two > p {
  color: #ffffff;
  font-family: "Noto Sans TC";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.footer_three {
  display: flex;
}

.footer_three > p {
  color: #ffffff;
  font-family: "Noto Sans TC";
  font-weight: 400;
  line-height: 21px;
  font-size: 14px;
}

.footer_three p:nth-child(2) {
  margin-left: 48px;
}

@media (max-width: 992px) {
  .footer {
    padding: 0 16px;
  }
}
@media (max-width: 767px) {
  .info_img > img {
    max-width: 24px;
    height: 24px;
  }
  .info_img{
    position: absolute;
    right: 1%;
  }
  .fa-2xl{
    font-size: 1em;
  }
  .phone > span,
  .mail > span {
    margin-left: 22px;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    font-family: "Noto Sans TC";
    font-weight: 400;
  }
  .info_ul {
    display: none;
  }
  .phone{
    position: relative;
  }
  .footer_two {
    flex-direction: column;
  }
  .footer_three {
    flex-direction: column;
    align-items: start;
  }
  .footer_three p:nth-child(2) {
    margin-top: 8px;
    margin-left: 0px;
  }
  .footer_three p:nth-child(1) {
    margin-top: 8px;
  }
}
