<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:ital,wght@0,400;0,700;0,900;1,400;1,900&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <title>index</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <div class="link_title">
      <ul>
        <li>OPTICAL</li>
        <li>SUNGLASSES</li>
        <li>FUNCTIONAL</li>
      </ul>
    </div>
    <div class="bg4">
      <div class="bg4_left"></div>
      <div class="bg4_right"></div>
    </div>
    <div class="container glasses_box">
      <h2>Celluloid Combi</h2>
      <h3>賽璐珞鈦金屬混合鏡框</h3>
      <div class="glasses">
        <div class="glasses_item">
          <img src="../assets/images/product-1.png" alt="眼鏡">
          <div class="glasses_item_txt">
            <p>BJ41600S</p>
            <p>NTD3,490</p>
          </div>
          <div class="glasses_item_color">
            <div class="left"></div>
            <div class="right"></div>
          </div>
        </div>
        <div class="glasses_item">
          <img src="../assets/images/product-2.png" alt="眼鏡">
          <div class="glasses_item_txt">
            <p>BJ41600S</p>
            <p>NTD3,490</p>
          </div>
          <div class="glasses_item_color">
            <div class="left"></div>
            <div class="right"></div>
          </div>
        </div>
        <div class="glasses_item">
          <img src="../assets/images/product-3.png" alt="眼鏡">
          <div class="glasses_item_txt">
            <p>BJ41600S</p>
            <p>NTD3,490</p>
          </div>
          <div class="glasses_item_color">
            <div class="left"></div>
            <div class="right"></div>
          </div>
        </div>
        <div class="glasses_item">
          <img src="../assets/images/product-4.png" alt="眼鏡">
          <div class="glasses_item_txt">
            <p>BJ41600S</p>
            <p>NTD3,490</p>
          </div>
          <div class="glasses_item_color">
            <div class="left"></div>
            <div class="right"></div>
          </div>
        </div>
        <div class="glasses_item">
          <img src="../assets/images/product-5.png" alt="眼鏡">
          <div class="glasses_item_txt">
            <p>BJ41600S</p>
            <p>NTD3,490</p>
          </div>
          <div class="glasses_item_color">
            <div class="left"></div>
            <div class="right"></div>
          </div>
        </div>
        <div class="glasses_item">
          <img src="../assets/images/product-6.png" alt="眼鏡">
          <div class="glasses_item_txt">
            <p>BJ41600S</p>
            <p>NTD3,490</p>
          </div>
          <div class="glasses_item_color">
            <div class="left"></div>
            <div class="right"></div>
          </div>
        </div>
        <div class="glasses_item">
          <img src="../assets/images/product-1.png" alt="眼鏡">
          <div class="glasses_item_txt">
            <p>BJ41600S</p>
            <p>NTD3,490</p>
          </div>
          <div class="glasses_item_color">
            <div class="left"></div>
            <div class="right"></div>
          </div>
        </div>
        <div class="glasses_item">
          <img src="../assets/images/product-2.png" alt="眼鏡">
          <div class="glasses_item_txt">
            <p>BJ41600S</p>
            <p>NTD3,490</p>
          </div>
          <div class="glasses_item_color">
            <div class="left"></div>
            <div class="right"></div>
          </div>
        </div>
        <div class="glasses_item">
          <img src="../assets/images/product-3.png" alt="眼鏡">
          <div class="glasses_item_txt">
            <p>BJ41600S</p>
            <p>NTD3,490</p>
          </div>
          <div class="glasses_item_color">
            <div class="left"></div>
            <div class="right"></div>
          </div>
        </div>
        <div class="glasses_item">
          <img src="../assets/images/product-4.png" alt="眼鏡">
          <div class="glasses_item_txt">
            <p>BJ41600S</p>
            <p>NTD3,490</p>
          </div>
          <div class="glasses_item_color">
            <div class="left"></div>
            <div class="right"></div>
          </div>
        </div>
        <div class="glasses_item">
          <img src="../assets/images/product-5.png" alt="眼鏡">
          <div class="glasses_item_txt">
            <p>BJ41600S</p>
            <p>NTD3,490</p>
          </div>
          <div class="glasses_item_color">
            <div class="left"></div>
            <div class="right"></div>
          </div>
        </div>
        <div class="glasses_item">
          <img src="../assets/images/product-6.png" alt="眼鏡">
          <div class="glasses_item_txt">
            <p>BJ41600S</p>
            <p>NTD3,490</p>
          </div>
          <div class="glasses_item_color">
            <div class="left"></div>
            <div class="right"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="page_box">
      <span class="pre">上一頁</span>
      <span>1</span>
      <span class="two">2</span>
      <span>3</span>
      <span>4</span>
      <span>5</span>
      <span class="nex">下一頁</span>
    </div>
    <%- include('./layout/footer'); -%>
      <script type="module" src="../main.js"></script>
</body>

</html>