<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:ital,wght@0,400;0,700;0,900;1,400;1,900&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <title>門市據點</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <div class="container">
      <h2 class="store_title">門市據點</h2>
      <div class="city">
        <span class="store_city">選擇地區</span>
        <select name="" id="" class="store_select">
          <option value="台北市">台北市</option>
          <option value="台北市">高雄市</option>
          <option value="台北市">屏東市</option>
        </select>
      </div>
      <div class="city_cards">
        <div class="card">
          <div class="card_top">
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-1.png?raw=true"
              alt="">
            <p>台北中山旗艦店</p>
          </div>
          <div class="card_mid">
            <div class="card_mid_item">
              <span class="material-symbols-outlined">
                call
              </span>
              <span class="card_mid_item_txt">電話：(02)000-1234</span>
            </div>
            <div class="card_mid_item">
              <span class="material-symbols-outlined">
                schedule
                </span>
              <span class="card_mid_item_txt">營業時間：10:00-21:00</span>
            </div>
            <div class="card_mid_item">
              <span class="material-symbols-outlined">
                location_on
                </span>
              <span class="card_mid_item_txt">地址：台北市中山區南京東路25巷2-1號</span>
            </div>
          </div>
          <div class="card_link">
            <a href="#">詳細資訊</a>
          </div>
        </div>
        <div class="card">
          <div class="card_top">
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-2.png?raw=true"
              alt="">
            <p>台北綠園店</p>
          </div>
          <div class="card_mid">
            <div class="card_mid_item">
              <span class="material-symbols-outlined">
                call
              </span>
              <span class="card_mid_item_txt">電話：(02)000-2345</span>
            </div>
            <div class="card_mid_item">
              <span class="material-symbols-outlined">
                schedule
                </span>
              <span class="card_mid_item_txt">營業時間：10:00-21:00</span>
            </div>
            <div class="card_mid_item">
              <span class="material-symbols-outlined">
                location_on
                </span>
              <span class="card_mid_item_txt">地址：台北市中正區復興南路 132-1 號</span>
            </div>
          </div>
          <div class="card_link">
            <a href="#">詳細資訊</a>
          </div>
        </div>
        <div class="card">
          <div class="card_top">
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-3.png?raw=true"
              alt="">
            <p>台中清水旗艦店</p>
          </div>
          <div class="card_mid">
            <div class="card_mid_item">
              <span class="material-symbols-outlined">
                call
              </span>
              <span class="card_mid_item_txt">電話：(02)000-1234</span>
            </div>
            <div class="card_mid_item">
              <span class="material-symbols-outlined">
                schedule
                </span>
              <span class="card_mid_item_txt">營業時間：10:00-21:00</span>
            </div>
            <div class="card_mid_item">
              <span class="material-symbols-outlined">
                location_on
                </span>
              <span class="card_mid_item_txt">地址：台中市清水區經南一路 23 號 8 樓</span>
            </div>
          </div>
          <div class="card_link">
            <a href="#">詳細資訊</a>
          </div>
        </div>
        <div class="card">
          <div class="card_top">
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-4.png?raw=true"
              alt="">
            <p>高雄中正形象店</p>
          </div>
          <div class="card_mid">
            <div class="card_mid_item">
              <span class="material-symbols-outlined">
                call
              </span>
              <span class="card_mid_item_txt">電話：(07)000-2345</span>
            </div>
            <div class="card_mid_item">
              <span class="material-symbols-outlined">
                schedule
                </span>
              <span class="card_mid_item_txt">營業時間：10:00-21:00</span>
            </div>
            <div class="card_mid_item">
              <span class="material-symbols-outlined">
                location_on
                </span>
              <span class="card_mid_item_txt">地址：高雄市苓雅區中正路 38 號 12 樓</span>
            </div>
          </div>
          <div class="card_link">
            <a href="#">詳細資訊</a>
          </div>
        </div>
        <div class="card">
          <div class="card_top">
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-5.png?raw=true"
              alt="">
            <p>高雄夢時代店</p>
          </div>
          <div class="card_mid">
            <div class="card_mid_item">
              <span class="material-symbols-outlined">
                call
              </span>
              <span class="card_mid_item_txt">電話：(07)000-1234</span>
            </div>
            <div class="card_mid_item">
              <span class="material-symbols-outlined">
                schedule
                </span>
              <span class="card_mid_item_txt">營業時間：10:00-21:00</span>
            </div>
            <div class="card_mid_item">
              <span class="material-symbols-outlined">
                location_on
                </span>
              <span class="card_mid_item_txt">地址：高雄市前鎮區中華一路 63 號 6 樓</span>
            </div>
          </div>
          <div class="card_link">
            <a href="#">詳細資訊</a>
          </div>
        </div>
      </div>
    </div>
    <%- include('./layout/footer'); -%>
      <script type="module" src="../main.js"></script>
</body>

</html>